uvicorn~=0.34.0
pydantic
sqlmodel
fastapi
pydantic-settings
asyncmy~=0.2.10
SQLAlchemy
fastapi-users~=14.0.1
fastapi_limiter~=0.1.6
fastapi_users_db_sqlmodel~=0.3.0
phonenumbers
python-ulid
jwt
PyJWT
pydantic-extra-types
aiostream
pydantic_core
APScheduler
StrEnum